@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


h1 {
margin:0px;
font-family: 'Crimson Text', serif;
font-size: 50px;
}

h2 {
margin:0px;
font-family: 'Crimson Text', serif;
font-size: 40px;
}

h3 {
font-family: 'Crimson Text', serif;
font-size: 20px;
}


h4 {
margin:0px;
font-family: 'Crimson Text', serif;
}

p {
margin:0px;
font-family: 'Crimson Text', serif;
}

.page-title{
font-family: 'Crimson Text', serif;
margin:3% 1% 1% 1%;
padding:1%;


}

.page-title > H2 {
font-weight: bold;
}

.page-title > P {
font-size: 20px;
color: #565756;
}

.url-calculator{
display: flex;
justify-content: center;
padding: 4% 4% 4% 4%;
}

.url-calculator > H4{
font-size: 20px;
color: #565756;
font-weight: bold;
}

.url-input{
margin: 1% 0% 1% 1%;
padding: 1% 0% 1% 1;

}

.url-button{
margin: 1%;
}

.total-co2{
display: flex;
justify-content: center;
align-items: flex-end;
margin: 3% 0% 0% 0%;
}

.total-co2 > div {
margin: 5px;
}

.total-co2  H2 {
color: #13bd46;
font-size: 30px;
font-weight: 900;

}

.total-co2 H4 {
font-size: 20px;

}
.recipe-name {
display: flex;
align-content: flex-start;
flex-direction: row;
}

.recipe-name > H4{
font-weight: 900;
font-size: 25px;
}

.co2-bar {
display: flex;
justify-content: center;
padding: 0%;
margin: 5% 0% 0% 0%;
width: 100%;
}

.co2-result-text

.co2-comparison P{
font-size: 30px;
}

.manual-form{
display: flex;
flex-direction: column;
padding: 3% 15%;
}

.manual-form H4{
font-size: 20px;
color: #565756;
font-weight: bold;

}

.ingredient_input {
margin: 3% 0% 5% 10%;
}

.ingredient_input H4{
font-size: 20px;
color: #565756;
font-weight: bold;
}

.ingredient_input Div{
display: flex;
flex-direction: row;
padding: 1%

}

.navbar{
font-family: 'Crimson Text', serif;
}

.card-title {
margin:1%;
font-family: 'Crimson Text', serif;
font-size: 20px;
}

.footprint-icon{
background-image: url('../assets/footprint_icon.png');
background-size: 100% 100%;
height: 100px;
}

.home-description {
background-image: url('../assets/cooking4.jpg');
background-size: 100% 100%;
height: 550px;
}

.home-description-text {
padding: 5%;
}

.home-description-text H4 {
font-size: 25px;
color: #565756;
}
.home-description-text H1 {
font-size: 55px;
font-weight: bold;
padding-right: 5px;
padding-bottom: 3%;
}

.home-description-text P {
font-size: 18px;
padding-left: 2%;
}


.home-button{
    border-radius: 10px;
    margin: 10%;
    position: center;
    line-height: 1.2;
    width: 98%;
}

.footer{
    width: 100%;
    height: 250px;
    margin: 0%;
    padding: 2%;
    background-color: #F8F6F6;
    display: flex;
    align-items: flex-end;
  
}

.footer H4{
font-weight: 900;
padding-bottom: 3%;
}

.footer P{
font-size: 18px;
color: #565756;
}

.footer_content{

}

.sicial-media{
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.manual{
height: 400px;
padding: 4%;
text-align: center;
}




/*
background-color: #fff5f5;
box-shadow: 2px 2px 2px lightgrey;
*/